<button class="btn btn-secondary" (click)="returnMain()">back to login</button>
<h1>Admin Page</h1>

<button class="btn btn-secondary" (click)="addCourses()">Mass Add Courses from SFU API</button>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Students">
        <div id="admin-users">
            <app-admin-users></app-admin-users>
        </div>
    </mat-tab>
    <mat-tab label="Courses">
        <div id="admin-courses">
            <app-admin-courses></app-admin-courses>
        </div>
    </mat-tab>
    <mat-tab label="Faculties">
        <div id="admin-faculties">
            <app-admin-faculties></app-admin-faculties>
        </div>
    </mat-tab>
    <mat-tab label="Departments">
        <div id="admin-departments">
            <app-admin-departments></app-admin-departments>
        </div>
    </mat-tab>
</mat-tab-group>