<p>admin-main works!</p>
<button class="btn btn-secondary" (click)="returnMain()">back to login</button>
<h1>Admin Page</h1>

<button>Modify Faculties</button>
<br>
<button>Modify Departments</button>
<br>
<button>Modify Courses</button>
<br>
<button>Modify Users</button>

<div id="admin-faculties">
    <app-admin-faculties></app-admin-faculties>
</div>

<div id="admin-departments">
    <app-admin-departments></app-admin-departments>
</div>

<div id="admin-courses">
    <app-admin-courses></app-admin-courses>
</div>

<div id="admin-users">
    <app-admin-users></app-admin-users>
</div>