@keyframes slide {
    0% {
        transform: translateX(-1000%);
        /* Start with no translation */
    }

    100% {
        transform: translateX(0%);
        /* End with a translation to the left by 100% of the container width */
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        /* start with opacity at 0 */
    }

    100% {
        opacity: 1;
        /* end with opacity at 1 */
    }
}

header {
    width: 100%;
    height: 15%;
    font-weight: bold;
    text-align: center;
    background: gold;
}

.header-bottom {
    width: 100%;
    height: 3%;
    position: relative;
    background: gold;
}

h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 80px;
    font-size: 50px;
    text-shadow: 3px 4px rgba(black, .1);
    transition: .3s;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.flex-item {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    /* Add a transition effect */
    margin-right: 10px;
}

.fade-in{
    opacity: 0; /* set initial opacity to 0 */
    animation: fade-in 2s ease-out forwards; 
}



.user {
    animation: slide 2s linear;
}

button {}

button:hover {
    background-color: #ffcc00;
    /* Change the background color on hover */

}