@keyframes slide {
    0% {
        transform: translateX(-1000%);
        /* Start with no translation */
    }

    100% {
        transform: translateX(0%);
        /* End with a translation to the left by 100% of the container width */
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        /* start with opacity at 0 */
    }

    100% {
        opacity: 1;
        /* end with opacity at 1 */
    }
}

header {
    width: 100%;
    height: 150px;
    font-weight: bold;
    text-align: center;
    background: gold;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}

.header-bottom {
    width: 100%;
    height: 3%;
    position: relative;
    background: gold;
}

h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 80px;
    font-size: 50px;
    text-shadow: 3px 4px rgba(black, .1);
    transition: .3s;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-item {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    /* Add a transition effect */
}

.user-sidebar{
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    /* set initial opacity to 0 */
    animation: fade-in 2s ease-out forwards;
}



.animation-sidebar {
    text-align: center;
    animation: slide 2s linear;
}

button {}

button:hover {
    background-color: #ffcc00;
    /* Change the background color on hover */

}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: gold;
    z-index: 101;
}

.sidebar div {
    /* padding: 8px;
    font-size: 24px;
    display: block; */
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    position: fixed;
    right: 0;
    top: 90px;
}

#searchInput{
    border-radius: 20px;
}

.search-container input[type=text] {
    border: none;
    padding: 5px;
    margin-right: 5px;
    flex: 1;
}

.material-icons {
    font-family: 'Material Icons';
}