<div class="messaging-app" id ="messaging-app" >
  <div class="sidebar">
    <div class="contacts-header">
      <div class="search-container">
        <input type="text" placeholder="Search..." #searchInput id ="searchInput" (keyup)="filterContacts()">
        <i class="material-icons">search</i>
      </div>
    </div>
    <ul class="contacts-list" id="conversationList" #conversationList>
      <li *ngFor="let username of contactsList" (click)="currentContact = username; loadMessages();">
        <div class="contact">
          <img src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png" alt="Profile Picture">
          <div class="contact-details">
            <h4>{{username}}</h4>
          </div>
        </div>
      </li>
    </ul>
    <button class="bottom-left wide-button" mat-flat-button color="accent" (click)="goBack()">Back</button>

  </div>
  <div class="messages" id="messages" #messages>
    <div *ngIf="currentContact != null "  class="contact-header">
      <img (click)="goProfile()" src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png" alt="Profile Picture">
      <div (click)="goProfile()" class="contact-details">
        <h4>{{currentContact}}</h4>
      </div>
    </div>
    <br><br><br><br>
    <div class="message" *ngFor="let message of displayedMessages" [class.received]="message.sender_username !== username" [class.sent]="message.sender_username === username">
      <p class="sender-name">{{message.sender_username === username ? 'You' : message.sender_username}}</p>
      <p>{{message.content}}</p>
      <p class="timestamp">{{message.timestamp | date:'shortTime'}}</p>
      <span *ngIf="message.sender_username === username" class="status">Sent</span>
    </div>
  </div>

  <form class="send-message-form" (submit)="onSendMessage()">
    <input type="text" placeholder="Type your message here..." [(ngModel)]="message.content" name="messageContent">
    <button type="submit">
      <i class="material-icons">send</i>
    </button>
  </form>
</div>
<script type="text/javascript">
  const messages = document.getElementById('messages');
  messages.scrollTop = messages.scrollHeight;
</script>