<div class="border">
    <div class="title"><span [textContent]="member.uName"></span></div> <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                First name : 
                <span [textContent]="member.fName"></span> <br>
                Last name : 
                <span [textContent]="member.lName"></span> <br>
                Major : 
                <span [textContent]="member.faculty"></span> <br>
            </div>
            <div class="col-md-4">
                Common Courses : <br>
                <span *ngFor="let course of commonCourses">{{course.code}} <br></span> <br>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary">CHAT</button>
    </div>
</div>
