<h1>New User</h1>

<form action="">
    <h2>Personal Info</h2>
    <label for="fName">First Name</label><br>
    <input type="text" name="fName" placeholder="first name"><br><br>
    <label for="lName">Last Name</label><br>
    <input type="text" name="lName" placeholder="last name"><br><br>

    <label for="password"></label>Password<br>
    <input type="password" name="password" placeholder="password"><br><br>
    <label for="repeatPassword">confirm Password</label><br>
    <input type="password" name="repeatPassword" placeholder="Confirm password"><br><br>
    <h2>School Info</h2><br>
    <label for="faculty">Faculty</label><br>
    <select name="faculty" id="faculty">
        <option value="Applied Science">Applied Science</option>
        <option value="Arts and Social Science">Arts and Social Science</option>
        <option value="Communication Art and Technology">Communication Art and Technology</option>
        <option value="Business">Business</option>
        <option value="Education">Education</option>
        <option value="Environment">Environment</option>
        <option value="Health Science">Health Science</option>
        <option value="Science">Science</option>
    </select><br><br>

    <app-course-select *ngFor="let course of courseCount"></app-course-select>
    <button (click)="incrCount()" type="button">add course</button>
    <h3>Courses</h3>
    



</form>