
#xButton {
    background: transparent;
    border: none;
  }
  
  button i {
    font-size: 1.5rem;
  }

  select{
    margin-left: 10px;
    margin-right: 10px;
    /* display: inline-block; */
    
  }
  .center {
    width: 30%;
  }

  .selectRow{
    display: flex;
    justify-content: space-between;
  }
  label{
    font-weight: bold;
  }

.error-message{
  color: rgb(192, 27, 27);
}
#addCourseButton{
  margin-right: 30px;
}
h1 , h3{
  font-weight: bold;
}
