button{
    margin-left: 60px;
}
#xButton {
    background: transparent;
    border: none;
  }
  
  button i {
    font-size: 1.5rem;
  }

  select{
    display: inline-block;
  }
  label{
    margin-left: 60px;
  }